.root {}

.header-container {
    background-color: #00b300;
    width: 100%;
    padding: 0px 8px;
    border-radius: 4px;
    background-image: none;
    background-repeat: repeat;
    background-position: 0%;
    background-size: auto;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}

.header-text {
    text-align: center;
}