.root {}

.header-container {
    padding: 0px;
    border-radius: 4px;
    border: 2px solid #000000;
    background-color: #F7F7F7;
    background-image: none;
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    box-shadow: 1.41px 1.41px 1px 1px black;
    display: flex;
    justify-content: space-around;
    gap: 4px;
}

.header-text {
    text-align: center;
}

.url-button {
    margin: 8px;
}